
<div class="navbar-wrapper">
    <mat-card>
        <div class="row">
          <div class="col-xl-3 col-lg-3 col-md-2">
            <div class="logo-align">
            <i class="fas fa-plus-circle fa-2x" routerLink="/createUser"></i>
            </div>
          </div>
          <div class="col-2 dpnone"></div>
          <div class="col-xl-5 col-lg-5 col-md-5 col-7">
            <mat-form-field class="search-filter">
              <input type="text" placeholder="Search" matInput>
            </mat-form-field>
            <i class="fas fa-search fa-icon"></i>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-5  col-3">
            <mat-card-header class="floatnone">
              <div class="createuser">
                <i class="fas fa-plus-circle fa-2x" routerLink="/createUser"></i>
              </div>
                <div mat-button [matMenuTriggerFor]="menu" mat-card-avatar class="example-header-image">
                  <h3 class="dot">{{dataServiceService.currentUser.name | uppercase | slice:0:1 }}</h3>
              </div>
                <mat-menu #menu="matMenu">
                <button mat-menu-item *ngFor = "let user of dataServiceService.users" (click)="switchUser(user.id)">
                  {{user.name}}</button>
                </mat-menu>
            </mat-card-header>

          </div>
        </div>
      </mat-card>
</div>
