.sidecontainer {
position: absolute;
top: 60px;
bottom: 0;
left: 0;
right: 0;
background: #eee;
}
mat-sidenav {
white-space: nowrap;
display: flex;
}
.mat-sidenav {
width: 20%;
}

.compose{
margin: 20px;
}

.active-list-item {
color: #3F51B5 !important;
}